.floatL {
  float: left;
}

.floatR {
  float: right;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #b1191b;
}

ul, ol li {
  list-style: none;
}

img, input, button {
  border: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.head {
  width: 1339px;
  height: auto;
}

.marginLeft {
  margin-left: 70px;
}

.headTop {
  width: 1199px;
  height: 70px;
  background-color: black;
  line-height: 70px;
}
.headTop .topImg {
  width: 1199px;
  height: 70px;
  background-color: #fff;
  line-height: 70px;
}

.headInfo {
  width: 1199px;
  height: 25px;
  background-color: #fff;
  line-height: 25px;
  color: #777;
}
.headInfo a {
  color: #777;
}
.headInfo a:hover {
  color: #b1191b;
}

.headInfoRight {
  position: relative;
  float: right;
  height: 12px;
}
.headInfoRight li {
  float: left;
  height: 12px;
  position: relative;
}
.headInfoRight li img {
  vertical-align: middle;
}
.headInfoRight a {
  height: 12px;
  padding: 0  15px;
  border-right: 1px solid #777;
}
.headInfoRight a.end {
  border-right: none;
}
.headInfoRight .peopleService {
  padding: 0  15px;
}
.headInfoRight .peopleService ul {
  border: 1px solid #ccc;
  position: absolute;
  z-index: 11;
}
.headInfoRight .peopleService li {
  float: none;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 0  15px;
  width: 79px;
}

.headLogo {
  position: relative;
  width: 1199px;
  height: 100px;
  background-color: #fff;
  line-height: 100px;
}
.headLogo img {
  vertical-align: middle;
}
.headLogo .search {
  display: inline-block;
  padding-left: 30px;
  padding-top: 15px;
}
.headLogo .searchTop {
  width: 530px;
  height: 100%;
  background-color: #fff;
  line-height: 100%;
}
.headLogo .searchTop img {
  border: 3px solid #fc595a;
  border-right: none;
  float: left;
}
.headLogo .searchTop input {
  width: 400px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  border: 3px solid #fc595a;
  border-left: none;
  float: left;
}
.headLogo .searchTop button {
  float: left;
  width: 82px;
  height: 41px;
  background-color: #fc595a;
  line-height: 41px;
  border: 3px solid #fc595a;
  color: #ffffff;
  font-weight: bold;
  line-height: 35px;
  border-left: none;
  letter-spacing: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.headLogo .headLogoRight {
  display: inline-block;
  position: relative;
}
.headLogo .headLogoRight .logoImgSet {
  margin-top: -30px;
  margin-right: 20px;
}
.headLogo .headLogoRight .logoImgSet2 {
  margin-top: -30px;
}
.headLogo .headLogoRight .cartCountImg {
  position: absolute;
  top: 11px;
  left: 16px;
}
.headLogo .headLogoRight .cartCountSpan {
  width: 21px;
  height: 21px;
  background-color: #fff;
  line-height: 21px;
  background: url("../../images/cartCount.png") no-repeat;
  position: absolute;
  top: 9px;
  left: 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.headLogo .searchBottom {
  height: 20px;
  top: 25px;
  position: absolute;
}
.headLogo .searchBottom li {
  float: left;
  margin-left: 10px;
}
.headLogo .searchBottom a {
  color: #777;
}
.headLogo .searchBottom a:hover {
  color: #b1191b;
}

.headNav {
  width: 1199px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.headNav .first {
  width: 190px;
  height: 35px;
  background-color: #b1191b;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.headNav .home a {
  color: #f13031;
}
.headNav li {
  float: left;
  width: 100px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
}
.headNav li a {
  width: 100px;
  height: 35px;
  background-color: #fff;
  color: #777;
  display: block;
}
.headNav li a:hover {
  color: #b1191b;
}
.headNav .headSign {
  float: right;
}

.footBottom {
  width: 1199px;
  height: auto;
  background-color: #fff;
  clear: both;
  padding-left: 70px;
  overflow: hidden;
}
.footBottom .footBottomTop {
  width: 1199px;
  height: 165px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 25px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.footBottom .footBottomTop ul {
  width: 130px;
  height: 136px;
  background-color: #fff;
  float: left;
  margin-right: 40px;
}
.footBottom .footBottomTop ul a {
  margin: 8px;
  line-height: 22px;
  color: #777;
}
.footBottom .footBottomTop h3 {
  color: #bebebe;
  border-bottom: 1px solid #ccc;
  line-height: 25px;
}
.footBottom .footBottomTop a {
  color: #929292;
}
.footBottom .footBottomTop a:hover {
  color: #b1191b;
}
.footBottom .footBottomTop li {
  margin-left: 20px;
  color: #777;
}
.footBottom .footBottomTop li img {
  margin-top: 10px;
}
.footBottom .footDown {
  width: 1199px;
  height: auto;
  background-color: #fff;
  text-align: center;
  line-height: 25px;
}
.footBottom .footDown li {
  text-align: center;
  color: #929292;
}
.footBottom .footDown a {
  color: #929292;
  margin-right: 3px;
  margin-left: 3px;
}
.footBottom .footDown a img {
  margin-bottom: 5px;
}
.footBottom .footDown p {
  color: #bebebe;
}

.container {
  width: 1339px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.main {
  padding: 0 70px;
  margin-top: 20px;
}

.left {
  width: 230px;
  height: auto;
  background-color: #fff;
  margin-right: 8px;
}
.left dl {
  border: 1px solid #777;
  margin-bottom: 15px;
}
.left dt {
  width: 210px;
  height: 35px;
  background-color: #f7f7f7;
  margin-left: 10px;
  line-height: 35px;
  font-weight: bold;
  font-size: 14px;
}

.leftdd a {
  margin-left: 10px;
  color: #777;
  display: inline-block;
  line-height: 25px;
}
.leftdd a:hover {
  color: #ff0000;
}

.leftdd1 a {
  width: 90px;
  height: auto;
  background-color: #fff;
}

.leftdd2 a {
  width: 54px;
  height: auto;
  background-color: #fff;
}

.leftdd3 {
  background-color: #f7f7f7;
  padding: 0 20px;
}
.leftdd3 img {
  margin-top: 10px;
}
.leftdd3 a {
  margin-top: 20px;
  margin-left: 10px;
  color: #292929;
  text-align: center;
}
.leftdd3 a:hover {
  color: #ff0000;
}
.leftdd3 a p {
  line-height: 30px;
}

.right {
  width: 961px;
  height: auto;
  background-color: #fff;
}
.right .redColor {
  color: #ff0000;
}
.right .fontsize {
  font-size: 14px;
  font-weight: bold;
}
.right .fontstyle {
  letter-spacing: 2px;
}
.right .floatImgF {
  overflow: hidden;
  display: none;
  width: 240px;
  height: 240px;
  background-color: #fff;
  position: absolute;
  left: 320px;
  top: 48px;
  z-index: 3;
}
.right .floatImgF .floatTopImg {
  width: 480px;
  height: 480px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.right .floatImgF .floatTopImg img {
  width: 480px;
  height: 480px;
  background-color: #fff;
}
.right .rightTop {
  position: relative;
  color: #292929;
}
.right .rightTop p {
  line-height: 27px;
}
.right .rightTop .rightp1 a {
  color: #5b5b5b;
}
.right .rightTop .rightp1 a:hover {
  color: #5b5b5b;
}
.right .rightTop .topImg {
  margin-top: 30px;
  width: 240px;
  height: 240px;
  background-color: #fff;
  box-shadow: 10px 10px 5px #d8d8d8;
  margin-right: 33px;
  position: relative;
}
.right .rightTop .topImg .searchImg {
  width: 29px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../../images/headSearch.jpg") no-repeat;
}
.right .rightTop .topImg .searchdiv {
  width: 50px;
  height: 50px;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.Imgdetails {
  position: relative;
}
.Imgdetails .Imgdetails1 {
  margin-top: 20px;
}
.Imgdetails p {
  width: 572px;
  height: auto;
  background-color: #fff;
  line-height: 30px;
}
.Imgdetails .checked {
  border: 1px solid #c9c9c9;
  width: 13px;
  height: 13px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 219px;
  text-align: center;
}
.Imgdetails .checked1 {
  left: 58px;
}
.Imgdetails .checked2 {
  left: 122px;
}
.Imgdetails .checkedPrint {
  border: 1px solid #c9c9c9;
  width: 34px;
  height: 20px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  position: absolute;
  left: 78px;
  top: 215px;
}
.Imgdetails .Imgdetails1 {
  position: relative;
}
.Imgdetails .carbtn {
  width: 135px;
  height: 35px;
  background-color: #e13134;
  line-height: 35px;
  font-weight: bold;
  color: #ffffff;
  clear: both;
  margin-top: 20px;
}
.Imgdetails .addbtn {
  width: 70px;
  height: 35px;
  background-color: #f5f5f5;
  color: #030303;
  line-height: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.groupTop {
  text-align: center;
  font-weight: bold;
  width: 70px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  clear: both;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  margin-top: 30px;
}

.groupTop1 {
  width: 965px;
  height: 35px;
  background-color: #fff;
  font-weight: bold;
  line-height: 35px;
  clear: both;
  border: 1px solid #e0e0e0;
  margin-top: 30px;
}
.groupTop1 li {
  float: left;
  text-align: center;
  height: 35px;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}
.groupTop1 li:hover {
  color: #ff0000;
}
.groupTop1 .groupTopActive {
  color: #ff0000;
  width: 70px;
  height: 37px;
  background-color: #fff;
  padding: 0 10px;
  border-top: 2px solid #ff0000;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: none;
  position: relative;
  top: -2px;
  z-index: 3;
}

.groupTopRight {
  width: 888px;
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #989898;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 33px;
}
.groupTopRight li {
  width: 70px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  color: #666666;
}

.groupMain {
  width: 960px;
  height: 262px;
  background-color: #fff;
  clear: both;
  border: 1px solid #e0e0e0;
  border-top: none;
  margin-left: 3px;
}
.groupMain dl {
  float: left;
}
.groupMain .group1 {
  margin-left: 36px;
}
.groupMain dt img {
  width: 65px;
  height: 104px;
  background-color: #fff;
}
.groupMain .groupSelect {
  margin-left: 10px;
  float: left;
  overflow-x: scroll;
  width: 748px;
  height: 220px;
  background-color: #fff;
  margin-top: 20px;
}
.groupMain .addcarbtn {
  width: 65px;
  height: 28px;
  background-color: #ee220a;
  line-height: 28px;
  text-align: center;
  border-radius: 10%;
  color: #ffffff;
}
.groupMain .groupPage {
  width: 800px;
  height: 200px;
  background-color: #fff;
}
.groupMain .groupPage p {
  color: #ff0000;
}
.groupMain .groupIcon {
  margin-top: 20px;
}
.groupMain .groupMoney {
  margin-top: 50px;
  margin-left: 20px;
}
.groupMain .groupMoney span {
  color: #ff0000;
}

.introduce .evaluate {
  clear: both;
  margin-top: 3 0px;
  width: 959px;
  height: 159px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-left: 10px;
}
.introduce .evaluateL {
  float: left;
  margin-right: 50px;
}
.introduce .evaluateL span {
  font-weight: bolder;
  font-size: 50px;
  margin-top: 40px;
  margin-left: 60px;
}
.introduce .evaluateL p {
  color: #999999;
  margin-top: 7px;
  margin-left: 60px;
}

.evaluateR li {
  line-height: 40px;
}
.evaluateR span {
  width: 101px;
  height: 11px;
  background-color: #efefef;
  display: inline-block;
  margin-left: 20px;
}
.evaluateR .redspan {
  background-color: #e20000;
}

/*# sourceMappingURL=details-main.css.map */
