.floatL {
  float: left;
}

.floatR {
  float: right;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #b1191b;
}

ul, ol li {
  list-style: none;
}

img, input, button {
  border: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.head {
  width: 1339px;
  height: auto;
}

.marginLeft {
  margin-left: 70px;
}

.headTop {
  width: 1199px;
  height: 70px;
  background-color: black;
  line-height: 70px;
}
.headTop .topImg {
  width: 1199px;
  height: 70px;
  background-color: #fff;
  line-height: 70px;
}

.headInfo {
  width: 1199px;
  height: 25px;
  background-color: #fff;
  line-height: 25px;
  color: #777;
}
.headInfo a {
  color: #777;
}
.headInfo a:hover {
  color: #b1191b;
}

.headInfoRight {
  position: relative;
  float: right;
  height: 12px;
}
.headInfoRight li {
  float: left;
  height: 12px;
  position: relative;
}
.headInfoRight li img {
  vertical-align: middle;
}
.headInfoRight a {
  height: 12px;
  padding: 0  15px;
  border-right: 1px solid #777;
}
.headInfoRight a.end {
  border-right: none;
}
.headInfoRight .peopleService {
  padding: 0  15px;
}
.headInfoRight .peopleService ul {
  border: 1px solid #ccc;
  position: absolute;
  z-index: 11;
}
.headInfoRight .peopleService li {
  float: none;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 0  15px;
  width: 79px;
}

.headLogo {
  position: relative;
  width: 1199px;
  height: 100px;
  background-color: #fff;
  line-height: 100px;
}
.headLogo img {
  vertical-align: middle;
}
.headLogo .search {
  display: inline-block;
  padding-left: 30px;
  padding-top: 15px;
}
.headLogo .searchTop {
  width: 530px;
  height: 100%;
  background-color: #fff;
  line-height: 100%;
}
.headLogo .searchTop img {
  border: 3px solid #fc595a;
  border-right: none;
  float: left;
}
.headLogo .searchTop input {
  width: 400px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  border: 3px solid #fc595a;
  border-left: none;
  float: left;
}
.headLogo .searchTop button {
  float: left;
  width: 82px;
  height: 41px;
  background-color: #fc595a;
  line-height: 41px;
  border: 3px solid #fc595a;
  color: #ffffff;
  font-weight: bold;
  line-height: 35px;
  border-left: none;
  letter-spacing: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.headLogo .headLogoRight {
  display: inline-block;
  position: relative;
}
.headLogo .headLogoRight .logoImgSet {
  margin-top: -30px;
  margin-right: 20px;
}
.headLogo .headLogoRight .logoImgSet2 {
  margin-top: -30px;
}
.headLogo .headLogoRight .cartCountImg {
  position: absolute;
  top: 11px;
  left: 16px;
}
.headLogo .headLogoRight .cartCountSpan {
  width: 21px;
  height: 21px;
  background-color: #fff;
  line-height: 21px;
  background: url("../../images/cartCount.png") no-repeat;
  position: absolute;
  top: 9px;
  left: 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.headLogo .searchBottom {
  height: 20px;
  top: 25px;
  position: absolute;
}
.headLogo .searchBottom li {
  float: left;
  margin-left: 10px;
}
.headLogo .searchBottom a {
  color: #777;
}
.headLogo .searchBottom a:hover {
  color: #b1191b;
}

.headNav {
  width: 1199px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
.headNav .first {
  width: 190px;
  height: 35px;
  background-color: #b1191b;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.headNav .home a {
  color: #f13031;
}
.headNav li {
  float: left;
  width: 100px;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
}
.headNav li a {
  width: 100px;
  height: 35px;
  background-color: #fff;
  color: #777;
  display: block;
}
.headNav li a:hover {
  color: #b1191b;
}
.headNav .headSign {
  float: right;
}

.footBottom {
  width: 1199px;
  height: auto;
  background-color: #fff;
  clear: both;
  padding-left: 70px;
  overflow: hidden;
}
.footBottom .footBottomTop {
  width: 1199px;
  height: 165px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 25px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.footBottom .footBottomTop ul {
  width: 130px;
  height: 136px;
  background-color: #fff;
  float: left;
  margin-right: 40px;
}
.footBottom .footBottomTop ul a {
  margin: 8px;
  line-height: 22px;
  color: #777;
}
.footBottom .footBottomTop h3 {
  color: #bebebe;
  border-bottom: 1px solid #ccc;
  line-height: 25px;
}
.footBottom .footBottomTop a {
  color: #929292;
}
.footBottom .footBottomTop a:hover {
  color: #b1191b;
}
.footBottom .footBottomTop li {
  margin-left: 20px;
  color: #777;
}
.footBottom .footBottomTop li img {
  margin-top: 10px;
}
.footBottom .footDown {
  width: 1199px;
  height: auto;
  background-color: #fff;
  text-align: center;
  line-height: 25px;
}
.footBottom .footDown li {
  text-align: center;
  color: #929292;
}
.footBottom .footDown a {
  color: #929292;
  margin-right: 3px;
  margin-left: 3px;
}
.footBottom .footDown a img {
  margin-bottom: 5px;
}
.footBottom .footDown p {
  color: #bebebe;
}

.lucency {
  width: 100%;
  height: 4644px;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  z-index: 4;
}

#container {
  width: 1339px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.floatAd {
  position: fixed;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  height: 600px;
  background-color: #fff;
  z-index: 5;
}
.floatAd img {
  width: 1000px;
  height: 600px;
  background-color: #fff;
}
.floatAd .closeAd {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #303457;
  width: 50px;
  height: 50px;
  background-color: #ECD740;
}
.floatAd .closeAd:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.stairs {
  position: fixed;
  width: 36px;
  height: 290px;
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  right: 60px;
  top: 50%;
  margin-top: -144px;
  display: none;
}
.stairs img {
  border: none;
  margin: 0;
  border-spacing: 0;
}

.head {
  border-bottom: 2px solid #b1191b;
}

.nav {
  padding: 0 70px;
  position: relative;
}
.nav .leftnav {
  float: left;
  width: 190px;
  height: 451px;
  background-color: #c81622;
  color: #ffffff;
}
.nav .leftnav dl {
  height: 49px;
  padding-left: 25px;
}
.nav .leftnav dl span {
  float: right;
}
.nav .leftnav dl:hover {
  background-color: #b1191b;
}
.nav .leftnav dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.nav .leftnav dd {
  line-height: 15px;
  float: left;
  margin-right: 5px;
}
.nav .leftnav dd:hover {
  text-decoration: underline;
}
.nav .floatNav {
  width: 747px;
  height: 449px;
  background-color: #fff;
  border: 1px solid #fc595a;
  position: absolute;
  left: 260px;
  top: 0;
  z-index: 2;
  line-height: 17px;
  display: none;
}
.nav .floatNav li {
  list-style: none;
  color: #777;
}
.nav .floatNav a {
  cursor: pointer;
  line-height: 22px;
  color: #777;
  color: #777;
}
.nav .floatNav a:hover {
  color: #b1191b;
}
.nav .floatNav span {
  font-weight: bold;
}
.nav .floatNav dt {
  border-bottom: 1px solid #000;
}
.nav .floatNav dl {
  margin-bottom: 15px;
}
.nav .floatNav ul {
  border-top: 1px dashed #000;
}
.nav .floatNav .navplan {
  width: 237px;
  height: 434px;
  background-color: #fff;
  margin-left: 9px;
}
.nav .navMiddle {
  float: left;
  width: 740px;
  height: 445px;
  background-color: #c81622;
  margin-top: 5px;
  margin-left: 8px;
  position: relative;
}
.nav .navMiddle .navMiddleSelect {
  position: absolute;
  left: 275px;
  bottom: 10px;
}
.nav .navMiddle .navMiddleSelect li {
  float: left;
  margin-right: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #777;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  color: #dedede;
}
.nav .navMiddle .navMiddleSelect .selectActive {
  background-color: #ffffff;
  color: #000000;
}
.nav .navRight {
  position: relative;
  float: left;
  width: 252px;
  height: 451px;
  background-color: #fff;
  margin-left: 9px;
  line-height: 23px;
}
.nav .navRight .navTop {
  width: 252px;
  height: 251px;
  background-color: #fff;
  padding-left: 12px;
  background: url("../../images/navRight_top.jpg") no-repeat;
}
.nav .navRight .navTop a {
  color: #777;
}
.nav .navRight .navTop a:hover {
  color: #b1191b;
}
.nav .navRight .navTop .first {
  font-size: 14px;
  font-weight: bold;
  color: #777;
  padding-top: 15px;
  line-height: 35px;
}
.nav .navRight .navTop img {
  vertical-align: middle;
}
.nav .navRight .navTop .red {
  color: #fc595a;
}
.nav .navRight .middleNav {
  width: 252px;
  height: 30px;
  background-color: #ededed;
}
.nav .navRight .middleNav ul {
  float: right;
}
.nav .navRight .middleNav li {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 13px;
  background-color: #777;
}
.nav .navRight .middleNav .first {
  background-color: #dedede;
}
.nav .navRight .navButtom {
  border: 1px solid #ccc;
  border-top: none;
  width: 250px;
  height: 168px;
  background-color: #fff;
}

.main {
  width: 1199px;
  height: auto;
  background-color: #fff;
  padding: 0 70px;
  padding-top: 10px;
  clear: both;
}
.main .mainTop {
  width: 1199px;
  height: 752px;
  background-color: #fff;
}
.main .main-top-nav {
  width: 1199px;
  height: 138px;
  background-color: #fff;
}
.main .main-top-nav .nav-left {
  float: left;
  width: 184px;
  height: 138px;
  background-color: #fff;
}
.main .main-top-nav .nav-left img {
  width: 184px;
  height: 138px;
  background-color: #fff;
}
.main .main-top-nav .nav-right {
  width: 1012px;
  height: 136px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-left: 1px;
  float: left;
  position: relative;
}
.main .main-top-nav .nav-right img {
  float: left;
  border-right: 1px solid #ccc;
}
.main .main-top-nav .nav-right .navMarquee {
  width: 3073px;
  height: 134px;
  background-color: #fff;
  position: absolute;
  left: 0px;
}
.main .main-top-nav .nav-right li {
  width: 28px;
  height: 48px;
  background-color: #000;
  line-height: 48px;
  color: #fff;
  font-size: 46px;
  text-align: center;
  position: absolute;
  z-index: 2;
  list-style: none;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.main .main-top-nav .nav-right .marqueeL {
  left: 0;
  top: 43px;
  position: absolute;
}
.main .main-top-nav .nav-right .marqueeR {
  right: 0px;
  top: 43px;
  position: absolute;
}
.main .main-top-main {
  margin-top: 25px;
  width: 1199px;
  height: 499px;
  background-color: #fff;
}
.main .main-top-main .main-top-scroll {
  line-height: 24px;
  position: relative;
  width: 796px;
  height: 499px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 12px;
}
.main .main-top-main .main-top-scroll li {
  position: absolute;
  top: 212px;
  list-style: none;
  width: 64px;
  height: 64px;
  background-color: #ccc;
  border-radius: 50%;
  line-height: 64px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
.main .main-top-main .main-top-scroll .mainMarqueeL {
  left: -32px;
}
.main .main-top-main .main-top-scroll .mainMarqueeR {
  right: -32px;
}
.main .main-top-main .main-top-scroll .mainMarqueeScoll {
  width: 2520px;
  height: 499px;
  background-color: #fff;
  position: absolute;
  left: 0px;
}
.main .main-top-main .main-top-scroll dt, .main .main-top-main .main-top-scroll dt img {
  width: 188px;
  height: 157px;
  background-color: #fff;
}
.main .main-top-main .main-top-scroll dd, .main .main-top-main .main-top-scroll p {
  margin-left: 26px;
}
.main .main-top-main .main-top-scroll span {
  color: #b1191b;
}
.main .main-top-main .main-top-scroll p {
  height: 20px;
}
.main .main-top-main .main-top-scroll p span {
  line-height: 20px;
  margin-left: 10px;
}
.main .main-top-main .main-top-scroll dl {
  width: 197px;
  height: 245px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-spacing: 0;
  border-collapse: collapse;
  float: left;
}
.main .main-top-main .main-top-scroll dd {
  line-height: 20px;
}
.main .main-top-main .main-top-right {
  width: 192px;
  height: 499px;
  background-color: #fff;
  margin-left: 15px;
}
.main .main-floor {
  margin-top: 15px;
  clear: both;
  padding-top: 3px;
  width: 1199px;
  height: 430px;
  background-color: #fff;
}
.main .main-floor .floorleft {
  width: 193px;
  height: 423px;
  background-color: #fff;
  position: relative;
}
.main .main-floor .floorleft .content {
  margin-left: 8px;
}
.main .main-floor .floorleft .content span {
  display: inline-block;
  float: left;
  line-height: 30px;
  width: 92px;
  height: 30px;
  background-color: #fff;
}
.main .main-floor .floorleft .floorlfet-buttom {
  width: 191px;
  height: 145px;
  background-color: #fff;
  clear: both;
  position: absolute;
  bottom: 0;
}
.main .main-floor .floorleft .floorlfet-buttom ul {
  position: absolute;
  bottom: 6px;
  left: 11px;
}
.main .main-floor .floorleft .floorlfet-buttom ul .floorfirstli {
  background-color: #fefcfd;
}
.main .main-floor .floorleft .floorlfet-buttom li {
  width: 10px;
  height: 10px;
  background-color: #777;
  border-radius: 50%;
  float: left;
  margin-right: 14px;
}
.main .main-floor .floorMiddle {
  width: 283px;
  height: 423px;
  background-color: #fff;
  position: relative;
}
.main .main-floor .floorMiddle ul {
  position: absolute;
  bottom: 26px;
  left: 29px;
}
.main .main-floor .floorMiddle ul .floorfirstli {
  background-color: #fefcfd;
}
.main .main-floor .floorMiddle li {
  width: 70px;
  height: 7px;
  background-color: #777;
  float: left;
  margin-right: 5px;
}

.floorNav {
  width: 721px;
  height: 421px;
  background-color: #fff;
}
.floorNav .top {
  width: 720px;
  height: 40px;
  background-color: #fff;
  background: url("../../images/topbg.jpg") repeat-x bottom;
}
.floorNav .top ul {
  line-height: 37px;
}
.floorNav .top li {
  float: left;
  padding: 0 14px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}
.floorNav .top .redfont {
  color: #b1191b;
}
.floorNav .top .lihover {
  background: url("../../images/libag.jpg") repeat-x bottom;
  border-bottom: 3px solid #b1191b;
  color: #b1191b;
}
.floorNav .first {
  margin-left: 38px;
}
.floorNav .bottom {
  width: 720px;
  height: 383px;
  background-color: #fff;
}
.floorNav .bottom .plan1 dt {
  background: url("../../images/floorNavPhoto1.jpg") no-repeat top;
}
.floorNav .bottom .plan2 dt {
  background: url("../../images/2floorNavPhoto1.jpg") no-repeat top;
}
.floorNav .bottom .plan3 dt {
  background: url("../../images/3floorNavPhoto1.jpg") no-repeat top;
}
.floorNav .bottom .plan4 dt {
  background: url("../../images/4floorNavPhoto1.jpg") no-repeat top;
}
.floorNav .bottom .plan5 dt {
  background: url("../../images/5floorNavPhoto1.jpg") no-repeat top;
}
.floorNav .bottom .left {
  width: 593px;
  height: 383px;
  background-color: #fff;
}
.floorNav .bottom .left dl {
  width: 196px;
  height: 191px;
  background-color: #fff;
  float: left;
  line-height: 20px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.floorNav .bottom .left dl dt {
  width: 188px;
  height: 143px;
  background-color: #fff;
}
.floorNav .bottom .left dl dt img {
  width: 188px;
  height: 143px;
  background-color: #fff;
}
.floorNav .bottom .left a {
  color: #777;
  margin-left: 17px;
  line-height: 24px;
}
.floorNav .bottom .left dd {
  color: #ff0000;
  float: left;
  margin-left: 17px;
}
.floorNav .bottom .left span {
  width: 34px;
  height: 16px;
  background-color: #ccc;
  text-align: center;
  color: #fff;
  float: right;
  line-height: 16px;
  margin-right: 4px;
  border-radius: 20%;
}
.floorNav .bottom .left .navdt2 {
  background-position: 0px -143px;
}
.floorNav .bottom .left .navdt3 {
  background-position: 0 -286px;
}
.floorNav .bottom .left .navdt4 {
  background-position: 0 -429px;
}
.floorNav .bottom .left .navdt5 {
  background-position: 0 -572px;
}
.floorNav .bottom .left .navdt6 {
  background-position: 0 -715px;
}
.floorNav .bottom .right {
  width: 116px;
  height: 383px;
  background-color: #fff;
  padding: 0  5px;
}
.floorNav .bottom .right a {
  width: 118px;
  height: 54px;
  background-color: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
  background: url("../../images/floorNavPhoto2.jpg") top;
}
.floorNav .bottom .right .end {
  border-bottom: none;
  background-position: 0 -318px;
}
.floorNav .bottom .right .a2 {
  background-position: 0 -53px;
}
.floorNav .bottom .right .a3 {
  background-position: 0 -106px;
}
.floorNav .bottom .right .a4 {
  background-position: 0 -159px;
}
.floorNav .bottom .right .a5 {
  background-position: 0 -212px;
}
.floorNav .bottom .right .a6 {
  background-position: 0 -265px;
}

/*# sourceMappingURL=index-main.css.map */
