.footBottom{
  @include setSize($self-width, auto  );
  clear: both;
  padding-left: 70px;
  overflow: hidden;
  .footBottomTop{
    @include setSize($self-width, 165px  );
    padding-left: 20px;
    padding-top: 25px;
    margin-top: 20px;
    border: 1px solid #ccc;
    ul{
      @include setSize(130px, 136px );
      a{ margin:8px; line-height: 22px; color: $lightGray;}
      float: left;
      margin-right: 40px;
    }
    h3{
      color: #bebebe;
      border-bottom: 1px solid #ccc;
      line-height: 25px;
    }
    a{
      @include linkColor( $bottomGray ,$deepRed );
    }
    li{
        margin-left: 20px;
        color: $lightGray;
        img{ margin-top: 10px;}
    }
  }
  .footDown{
    @include setSize($self-width, auto);
    text-align: center;
    line-height: 25px;
    li{
       text-align: center;
       color: $bottomGray;
    }
    a{
      color: $bottomGray;
      margin-right: 3px;
      margin-left: 3px;

      img{
        margin-bottom: 5px;
      }
    }
    p{ color: #bebebe; }
  }
}