.head{

  width: $page-width;
  border-bottom: 2px solid $deepRed;
}
.marginLeft{
    margin-left: 70px;
}
.headTop{
 @include setType($self-width , 70px ,black );
  .topImg{
    @include setType( 1199px  ,70px);
  }
}
.headInfo{
  @include setType( $self-width ,  25px);
  color: $lightGray;
  a{
    @include linkColor( $lightGray,#b1191b)
  }

}
.headInfoRight{
    position: relative;
    float: right;
    height: 12px;
  li{
    float: left;
    height: 12px;
    position: relative;
    img{
      vertical-align: middle;
    }
  }
  a{
    height: 12px;
    padding: 0  15px;
    border-right: 1px solid $lightGray;
    &.end{ border-right: none; }
  }
  .peopleService{
    padding: 0  15px;
     ul{ border: 1px solid #ccc; position: absolute; z-index: 11;}
      li{ float: none; line-height: 25px; margin-bottom: 10px;
        padding: 0  15px; width: 79px;
      }

  }
}

.headLogo{
  position: relative;
  @include setType($self-width , 100px);
  img{ vertical-align: middle; }
  .search{
    display: inline-block;
    padding-left: 30px;
    padding-top: 15px ;
  }
  .searchTop{
    @include setType(530px );
    img{
      border: 3px solid $paleRed;
      border-right: none;
      float: left;
    }
    input{
      @include setType(400px ,35px );
      //background: url("../../images/headSearch.jpg") no-repeat;
      border: 3px solid $paleRed;
      border-left: none;
      float: left;
    }
    button{
      float: left;
      @include setType( 82px , 41px ,$paleRed );
      border: 3px solid $paleRed;
      color: #ffffff;
      font-weight: bold;
      line-height: 35px;
      border-left: none;
      letter-spacing: 10px;
      padding-left: 10px;
      cursor: pointer;
    }
  };
  .headLogoRight{
    display: inline-block;
    position: relative;
    .logoImgSet{
      margin-top: -30px;
      margin-right: 20px;
    }
    .logoImgSet2{
      margin-top: -30px;
    }
    .cartCountImg{
      position: absolute;
      top:11px;
      left: 16px;
    }
    .cartCountSpan{
      @include setType( 21px , 21px );
      background: url("../../images/cartCount.png") no-repeat;
      position: absolute;
      top:9px;
      left: 15px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
    }
  }
  .searchBottom{
      height: 20px;
      top : 25px;
      position: absolute;
      li{ float: left; margin-left: 10px;}
      a{
        @include linkColor( $lightGray  , $deepRed)
      }

  }
}
.headNav{
    width: 1339px;

    @include setType($self-width , 35px);
    .first{
      @include setType(190px , 35px ,$deepRed);
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
  .home{
    a{
      color: #f13031;
    }
  }
  li{
    float: left;
    @include setType(100px,35px);
    text-align: center;
    cursor: pointer;
  }
  .headSign{
    float: right;
  }
}