*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
}

a{
  text-decoration: none;
  color: #000;
  &:hover {
    color: #b1191b;
  }
}
ul,ol li{
  list-style: none;
}
img,input,button{
  border: none;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
